@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>

<div>

    <table>

        <tr>
            <th>Dag</th>
            <th>Varm ret</th>
            <th>Kold ret</th>
        </tr>

        <tr>
            <td>Man 02</td>
            <td>Kylling & Pasta</td>
            <td>Smørrebrød</td>
        </tr>

        <tr>
            <td>Onsd 04</td>
            <td>Flæskesteg</td>
            <td>Rugbrød</td>
        </tr>

        <tr>
            <td>Tors 05</td>
            <td>Fisk</td>
            <td>Yoghurt</td>
        </tr>

        <tr>
            <td>Fre 06</td>
            <td>Burger</td>
            <td>Franskbrød</td>
        </tr>
    </table>

</div>