@page "/info"


    <h1>Kontaktinformation</h1>
    <table>

        <tr>
            <th>Navn</th>
            <th>E-mail</th>
            <th>Telefonnummer</th>
        </tr>

        <tr>
            <td>Karen</td>
            <td>karen@idk.com</td>
            <td>10101010</td>
        </tr>

    </table>





    @{
    }

